{#{% load static from staticfiles %}#}

{% extends 'base/base_seller.html' %}

{% block mess %}
<div class="x-body layui-anim layui-anim-up">
        <form class="layui-form" method="post" action="{% url 'goods:goodsmodlyDo' %}">
            {% csrf_token %}


          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>商品类别
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_email" name="type_name" required=""
                  autocomplete="off" class="layui-input" value="{{ list.type_name }}">
              </div>
          </div>

           <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <input type="hidden" name="type_id" value="{{ list.type_id }}">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="" >
                  修改商品类型
              </button>

          </div>


        </form>
</div>

{% endblock %}
