

{% extends 'base/base_seller.html' %}
{% load static %}
{% block mess %}
  <body>
    <div class="x-body">
           <div class="x-body">
        <form class="layui-form" method="post" action="" id="myform">
            {% csrf_token %}
{#            角色名#}
          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>角色名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="name" name="uname" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
            <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>将会成为您唯一的登入名
              </div>
          </div>
{#         用户名#}
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="x-red">*</span>路由名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="url_name" name="username" required=""
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>将会成为您唯一的登入名
              </div>
          </div>

{#        <div class="layui-input-inline">#}
{#                 <label for="phone" class="layui-form-label">#}
{#                  <span class="x-red">*</span>使用状态#}
{#              </label>#}
{#                <input type="radio" name="rolestatus"#}
{#                  value="1">1#}
{#                <input type="radio" name="rolestatus"#}
{#                  value="0">0#}
{#              </div>#}

          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  添加
              </button>
          </div>
      </form>
    </div>

   </div>









    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;

          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 3){
                return '昵称至少得2个字符啊';
              }
            }

          });

          //监听提交
         form.on('submit(add)', function (data) {
                //发异步，把数据提交给python
                $.post('{% url "seller:dorole" %}', $("#myform").serialize(), function (data) {
                    if (data.status == 1) {
                        window.parent.location.reload()
                        layer.alert("添加成功", {icon: 6}, function () {
                            var index = parent.layer.getFrameIndex(window.name)
                            parent.layer.close(index) //关闭当前的form
                        });
                    } else {
                        layer.alert("添加失败", {icon: 6}, function () {
                            var index = parent.layer.getFrameIndex(window.name)
                            parent.layer.close(index)
                        });
                    }
                });
                return false;
            });
        });
    </script>

  </body>

{% endblock %}