{% extends 'base.html' %}
{% load static %}
{% block content %}


<form method="post" action="{% url 'order:order_adressdo' %}">
{% csrf_token %}
  <table width="500" border="0" cellpadding="3" cellspacing="4">


    <tr>
        <td>收货人信息：</td>
        <td><input type="text" name="info"></td>
    </tr>
    <tr>
        <td>姓名：</td>
        <td><input type="text" name="adress_name"></td>
    </tr>
      <tr>
          <td>电话：</td>
          <td><input type="text" name="phone_user"></td>
      </tr>
      <tr>
          <td>地址：</td>
          <td><input type="text" name="adress_username"></td>
      </tr>
      <tr>
          <td></td>
          <td><input type="submit" value="添加收货地址"></td>
      </tr>


 </table>
</form>

{% endblock %}